## AUTO-DETECT
* text=auto

## SOURCE CODE
*.css  text
*.html text
*.json text

## DOCKER
*.dockerignore text
Dockerfile     text

## DOCUMENTATION
*.markdown text
*.md       text
*README*   text

## CONFIGS
.editorconfig  text
.gitattributes text
.gitconfig     text
.gitignore     text
.npmrc         text

## GRAPHICS
*.avif binary
*.svg  text
*.webp binary
