# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# Compiled output
/bazel-out
/build
/dist
/documentation
/out-tsc
/storybook-static
/styleguide
/tmp

# Dependencies
/node_modules
/.pnp
.pnp.js

# Profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs + Editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
testem.log
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
