; Security for partial/ accidental NPM instead Bun uses

min-release-age=7

registry=https://registry.npmjs.org/
strict-ssl=true
ignore-scripts=true
audit=true
audit-level=high
save=false
save-exact=true
